Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/.idea/.idea.TheGreatDurandal.dir/.idea/indexLayout.xml
/.idea/.idea.TheGreatDurandal.dir/.idea/projectSettingsUpdater.xml
/.idea/.idea.TheGreatDurandal.dir/.idea/shelf/Uncommitted_changes_before_Checkout_at_16_09_2024_14_25_[Changes]/shelved.patch
/.idea/.idea.TheGreatDurandal.dir/.idea/shelf/Uncommitted_changes_before_Checkout_at_16_09_2024_14_25__Changes_.xml
/.idea/.idea.TheGreatDurandal.dir/.idea/shelf/Uncommitted_changes_before_Update_at_16_09_2024_14_22__Changes_.xml
/.idea/.idea.TheGreatDurandal.dir/.idea/shelf/Uncommitted_changes_before_Update_at_16_09_2024_14_25__Changes_.xml
/.idea/.idea.TheGreatDurandal.dir/.idea/workspace.xml/.idea/.idea.TheGreatDurandal.dir/.idea/shelf/Uncommitted_changes_before_Checkout_at_16_09_2024_14_25_[Changes]/shelved.patch
/.idea/.idea.TheGreatDurandal.dir/.idea/workspace.xml
